@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

body {
  cursor: context-menu;
  overflow-x: hidden;
  background-color: #fefefe;
  color: #111;
}

a {
  text-decoration: none;
}

.MuiTooltip-tooltip {
  font-size: 0.75rem !important;
}

.MuiDialog-paper {
  border-radius: 1rem !important;
}

::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.8rem;
}

::-webkit-scrollbar-track {
  background: #fefefe;
}

::-webkit-scrollbar-thumb {
  background: #00a5cc;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #03cfff;
}

::selection {
  background: #00dd3a;
  color: #000;
}
